.footer {
    background-color: $green;
    padding: 2vw;
    a {
        text-decoration: none;
        color: $black;
    }
    .info {
        padding: 2vw;
        text-align: left;
        span {
            display: inline-block;
            margin: 0.7vw;
            img {
                width: 1vw;
                height: auto;
                padding-right: 1vw;
            } 
        }
    }
    .copyright {
        display: flex;
        justify-content: center;
        align-items: last baseline;
        text-align: center;
    }
    .social {
        text-align: center;
        img {
            margin: 2vw 0;
            width: 5vw;
            height: auto;
        }
        .brands {
            display: inline-block;
            a {
                padding: 1.5vw;
                &:hover {
                    color: $white;
                }
                i {
                    font-size: 2.5vw
                }
            }
        }
    }
}