.container-card {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 35vw 35vw;
    .card {
        position: relative;
        text-align: center;
        h4 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50% -50%);
            color: $white;
            font-size: 2vw;
            text-shadow: 4px 4px 4px $black;
            margin: 0;
        }
        p {
            font-size: 1.5vw;
            color: $black;
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            overflow: hidden;
        }
        // :not(.c-1) {
        //     perspective: 1000px;
        // }
    }
    .face {
        width: 100%;
        height: 100%;
        position: absolute;
        backface-visibility: hidden;
        transition: transform 0.6s;
        .front {

        }
        .back {
            background-color: $white;
            transform: rotateY(180deg);
            text-align: left;
            ul {
                text-align: left;
                font-size: 1.5vw;
            }
        }
    }
    .c-1 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
        padding: 6vw 3.5vw;
        background-color: $black;
        color: $white;
        // background-color: $black;
        // color: $white;
        h4 {
            position: relative;
            top: 0;
            left: 0;
            font-size: 2vw;
            text-shadow: none;
            margin-bottom: 2vw;
        }
        p {
            line-height: 2.5vw;
            color: $white;
        }
        ul {
            margin-inline: 50%;
            transform: translateX(-50%);
            width: 45%;
            text-align: left;
            font-size: 1.5vw;
        }
    }
    .c-2 {
        grid-column-start: 4;
        grid-column-end: 8;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .c-3 {
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .c-4 {
        grid-column-start: 6;
        grid-column-end: 8;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}