.menu {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2000;
    width: 35%;
    text-align: center;
    font-size: 1.5vw;
    box-shadow: 0px 2px 8px $black;
    background-color: $white;
    a {
        text-decoration: none;
        color: $black;
        &:hover {
            color: $white;
        }
    }
    .m-1, .m-2, .m-3 {
        background-color: $white;
        padding: 2px;
        // border-bottom: 1px solid $black;
        &:hover {
            background-color: $black;
            a {
                color: $white;
            }
        }
    }
    .m-2 {
        background-color: $yellow;
        &:hover {
            background-color: $black;
            color: $green;
            cursor: pointer;
            // .item {
            //     display: block;
            // }
        }
    }
    .m-3 {
        background-color: $green;
        &:hover {
            background-color: $black;
            a {
                color: $yellow;
                &:hover {
                    color: $yellow;
                }
            }
        }
        a {
            color: $white;
        }
    }
    .item {
        display: none;
        position: relative;
        border-top: 1px solid $black;
        font-size: 1.3vw;
        background-color: $yellow;
        &:hover {
            background-color: $white;
            a {
                &:hover {
                    color: $green;
                }
            }
        }
    }
}
video {
    position: relative;
    width: 100%;
    display: block;
}
.position {
    position: relative;
    .button {
        position: absolute;
        top: 83%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
        background-color: $yellow;
        border-radius: 50vw;
        width: 10vw;
        padding: 1vw 2.5vw;
        text-align: center;
        font-size: 1.85vw;
        cursor: pointer;
        box-shadow: 2px 2px 8px $black;
    }
}

// MEDIA QUERY
@media (max-width:700px) {
    .menu {
        width: 100%;
        font-size: 5vw;
        .m-1, .m-2, .m-3 {
            padding: 1.5vw;
        }
    }
    video {
        position: relative;
        margin-top: 27vw;

    }
    .position {
        .button {
            top: 70%;
            width: 15vw;
            padding: 3vw 5vw;
            font-size: 3vw;
        }
    }
}