.container-card {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 35vw 35vw;
    .card {
        position: relative;
        text-align: center;
        background-color: $black;
        .face {
            width: 100%;
            height: 100%;
            position: absolute;
            backface-visibility: hidden;
            transition: transform 0.6s;
            h4 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $white;
            font-size: 2vw;
            text-shadow: 4px 4px 4px $black;
            margin: 0;
            }
            p {
                font-size: 1.5vw;
                color: $black;
            }
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                overflow: hidden;
            }
        }
        .back {
            background-color: $white;
            transform: rotateY(180deg);
            text-align: left;
            box-sizing: border-box;
            padding: 2vw;
            ul {
                text-align: left;
                font-size: 1.5vw;
            }
        }
    }
    .card.flipped .front {
        transform: rotateY(-180deg);
    }
    .card.flipped .back {
        transform: rotateY(0deg);
    }
    .c-1 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
        padding: 6vw 3.5vw;
        background-color: $black;
        color: $white;
        // background-color: $black;
        // color: $white;
        h4 {
            position: relative;
            top: 0;
            left: 0;
            font-size: 2vw;
            text-shadow: none;
            margin: 0;
            margin-bottom: 2vw;
        }
        p {
            line-height: 2.5vw;
            color: $white;
            font-size: 1.5vw;
        }
        ul {
            margin-inline: 50%;
            transform: translateX(-50%);
            width: 45%;
            text-align: left;
            font-size: 1.5vw;
        }
    }
    .c-2 {
        grid-column-start: 4;
        grid-column-end: 8;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .c-3 {
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 3;
        .back {
            background-color: $yellow;
            p {
                padding: 5vw 2vw;
                line-height: 2.7vw;
            }
        }
    }
    .c-4 {
        grid-column-start: 6;
        grid-column-end: 8;
        grid-row-start: 2;
        grid-row-end: 3;
        .back {
            background-color: $green;
            border-bottom: 1px solid $black;
            p {
                padding: 5vw 2vw;
                line-height: 2.7vw;
            }
        }
    }
}

// MEDIA QUERY
@media (max-width:700px) {
    .container-card {
        display: flex;
        flex-wrap: wrap;
        .c-1 {
            padding: 3vw 3vw;
            text-align: left;
            h4 {
                text-align: center;
                font-size: 2.8vw;
            }
            p {
                font-size: 2.7vw;
                line-height: 2.9vw;
                letter-spacing: 0.2vw;
                margin: 1.9vw;
            }
            ul {
                width: 100%;
                font-size: 2.7vw;
                padding-inline: 6vw;
                margin-top: 0;
            }
        }
        .c-2, .c-3, .c-4 {
            width: 100%;
            height: 60vw;
            border-top: 1px solid $black;
            .face {
                h4 {
                font-size: 5vw;
                text-shadow: -3px -2px 4px $black;
                }
                p {
                    font-size: 2.7vw;
                }
                ul {
                    font-size: 2.7vw;
                }
            }
            .back {
                padding: 0.5vw 2.5vw;
            }            
        }
        .c-3, .c-4 {
            height: 35vw;
            .face {
                p {
                    line-height: 5vw;
                }
            }
        }
    }
}