@font-face {
  font-display: swap;
  font-family: Brut Grotesque;
  src: url("/font/Brut Grotesque 6.001/BrutGrotesque-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: Darker Grotesque;
  src: url("/font/Darker_Grotesque/DarkerGrotesque-VariableFont_wght.ttf") format("truetype");
}
.spacer {
  width: 100%;
  height: 4vw;
  background-color: #409F44;
}

.menu {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2000;
  width: 22vw;
  text-align: center;
  font-size: 20px;
}
.menu .m-1 {
  background-color: #fbfbfb;
  padding: 2px;
}
.menu .m-2 {
  background-color: #fff200;
  padding: 2px;
}
.menu .m-3 {
  background-color: #409F44;
  color: #fbfbfb;
  padding: 2px;
}

video {
  position: relative;
  width: 100%;
  display: block;
}

.position {
  position: relative;
}
.position .button {
  position: absolute;
  top: 83%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: #fff200;
  border-radius: 50px;
  width: 10vw;
  padding: 15px 25px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  box-shadow: 2px 2px 8px #1d1d1d;
}

.container-card {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 35vw 35vw;
}
.container-card .card {
  position: relative;
  text-align: center;
}
.container-card .card h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
  color: #fbfbfb;
  font-size: 2vw;
  text-shadow: 4px 4px 4px #1d1d1d;
  margin: 0;
}
.container-card .card p {
  font-size: 1.5vw;
}
.container-card .card img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.container-card .c-1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  padding: 3.5vw;
}
.container-card .c-1 h4 {
  position: relative;
  color: #1d1d1d;
  top: 0;
  left: 0;
  font-size: 1.7vw;
  text-shadow: none;
  margin-bottom: 2vw;
}
.container-card .c-1 p {
  line-height: 2rem;
}
.container-card .c-2 {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 2;
}
.container-card .c-3 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
}
.container-card .c-4 {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 3;
}

.grid {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  position: relative;
}
.grid .gallery {
  grid-column-start: 1;
  grid-column-end: 9;
  background-color: #fff200;
  display: grid;
  grid-template-columns: repeat(35, 1fr);
  grid-template-rows: repeat(31, 2vw);
}
.grid .gallery h3 {
  grid-column-start: 3;
  grid-column-end: 31;
  grid-row-start: 2;
  grid-row-end: 6;
  font-family: Darker Grotesque;
  font-size: 8vw;
  font-weight: bolder;
  letter-spacing: 10px;
  margin: 0;
}
.grid .gallery .img-1 {
  grid-column-start: 4;
  grid-column-end: 12;
  grid-row-start: 10;
  grid-row-end: 18;
}
.grid .gallery .img-2 {
  grid-column-start: 13;
  grid-column-end: 21;
  grid-row-start: 12;
  grid-row-end: 20;
}
.grid .gallery .img-3 {
  grid-column-start: 22;
  grid-column-end: 30;
  grid-row-start: 10;
  grid-row-end: 18;
}
.grid .gallery .img-4 {
  grid-column-start: 4;
  grid-column-end: 12;
  grid-row-start: 19;
  grid-row-end: 27;
}
.grid .gallery .img-5 {
  grid-column-start: 13;
  grid-column-end: 21;
  grid-row-start: 21;
  grid-row-end: 29;
}
.grid .gallery .img-6 {
  grid-column-start: 22;
  grid-column-end: 30;
  grid-row-start: 19;
  grid-row-end: 27;
}
.grid .gallery img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.grid .gallery h4 {
  grid-column-start: 4;
  grid-column-end: 12;
  grid-row-start: 8;
  grid-row-end: 9;
  margin: 0;
  font-size: 1.5vw;
}
.grid .gallery .upside-down {
  grid-column-start: 22;
  grid-column-end: 30;
  grid-row-start: 28;
  grid-row-end: 29;
  text-align: left;
  transform: rotate(180deg);
}
.grid .des {
  grid-column-start: 9;
  grid-column-end: 12;
  background-color: #1d1d1d;
  color: #fbfbfb;
  padding: 5vw;
  padding-left: 9vw;
}
.grid .des p {
  font-size: 1.5vw;
}
.grid .des h3.vertical {
  color: #fff200;
}
.grid h3.vertical {
  position: absolute;
  top: 45%;
  left: 63.5%;
  transform: rotate(90deg) translateX(-50%);
  color: #1d1d1d;
  font-family: Darker Grotesque;
  font-size: 8vw;
}

.col-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.col-3 .about {
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #1d1d1d;
  color: #fbfbfb;
  padding: 5vw;
  line-height: 2rem;
}
.col-3 .about h4 {
  font-size: 1.7vw;
}
.col-3 .image-mohole {
  grid-column-start: 2;
  grid-column-end: 4;
}
.col-3 .image-mohole img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  background-color: #409F44;
  padding: 2vw;
}
.footer .info {
  padding: 2vw;
  text-align: left;
}
.footer .copyright {
  display: flex;
  justify-content: center;
  align-items: last baseline;
  text-align: center;
}
.footer .social {
  text-align: center;
}
.footer .social a {
  text-decoration: none;
  color: #1d1d1d;
}
.footer .social .brands {
  display: inline-block;
}
.footer .social .brands a {
  padding: 1.5vw;
}
.footer .social .brands a i {
  font-size: 3vw;
}

body {
  background-color: #fbfbfb;
  color: #1d1d1d;
  font-family: Brut Grotesque;
  margin: 0;
}/*# sourceMappingURL=style.css.map */