<footer>
    <div class="col-3 footer">
        <div class="info">
            <span><img src="{{ theme.link }}/img/phone-call.svg" alt="">telefono: <a href="tel:02 36513670">02 36513670</a></span><br>
            <span><img src="{{ theme.link }}/img/envelope.svg" alt="">email: <a href="mailto:segreteria@mohole.it">segreteria@mohole.it</a></span><br>
            <span><img src="{{ theme.link }}/img/marker.svg" alt=""><a href="https://www.google.com/maps?q=Via+ventura+5,+Milano,+Italia">via ventura 5, Milano 20314</a></span>
        </div>
        <div class="copyright">
            <p>All rigths reserved<br><a href="https://scuola.mohole.it/">www.scuola.mohole.it</a></p> 
        </div>
        <div class="social">
            <a href="#"><img src="{{ theme.link }}/img/Group.png" alt="logo-alumni-mohole"></a>
            <br>
            <div class="brands">
                <a href="https://www.instagram.com/scuolamohole/"><i class="cib-instagram"></i></a>
                <a href="https://www.youtube.com/@moholelab"><i class="cib-youtube"></i></a>
                <a href="https://www.facebook.com/mohole/?locale=it_IT"><i class="cib-facebook"></i></a>
            </div>
        </div>
    </div>
</footer>
