<footer>
    <div class="col-3 footer">
        <div class="info">
            <p><i class="fi fi-sr-phone-call"></i>telefono: 02 36513670</p>
            <p><i class="fi fi-sr-envelope"></i>email: segreteria@mohole.it</p>
            <p><i class="fi fi-sr-marker"></i>via ventura 5, Milano 20314</p>
        </div>
        <div class="copyright">
            <p>All rigths reserved<br>www.scuola.mohole.it</p> 
        </div>
        <div class="social">
            <a href="#"><img src="" alt="logo-alumni-mohole"></a>
            <br>
            <div class="brands">
                <a href="#"><i class="cib-instagram"></i></a>
                <a href="#"><i class="cib-youtube"></i></a>
                <a href="#"><i class="cib-facebook"></i></a>
            </div>
        </div>
    </div>
</footer>
