<section>
    <div class="container-card">
        <div class="card c-1">
            <h4>INFORMAZIONI</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, quas mollitia debitis nulla molestias consectetur eligendi iure tenetur ut nihil nisi adipisci architecto cumque necessitatibus dolorum, veniam dolore, perspiciatis eaque?</p>
        </div>
        <div class="card c-2">
            <h4>PING PONG - 1VS1</h4>
            <img src="{{ theme.link }}/img/ping-pong-1.png" alt="ping pong 1vs1">
        </div>
        <div class="card c-3">
            <h4>PING PONG - 2VS2</h4>
            <img src="{{ theme.link }}/img/ping-pong-2.png" alt="ping pong 2vs2">
        </div>
        <div class="card c-4">
            <h4>BILIARDINO - 2VS2</h4>
            <img src="{{ theme.link }}/img/biliardino.png" alt="biliardino 2vs2">
        </div>
    </div>
</section>