<section>
    <div>
        <div class="position">
            <video autoplay muted playsinline loop src="{{ theme.link }}/img/Finale tornei 2023.mp4">
            </video>
            <div class="button">Iscriviti qui</div>
        </div>
        <div class="menu">
            <div class="m-1">punteggi</div>
            <div class="m-2">tornei</div>
            <div class="m-3">mohole</div>
        </div>
    </div>
</section>