<section id='mohole'>
    <div class="col-3">
        <div class="about">
            <h4>CHI È MOHOLE?</h4>
            <p>Mohole è una Scuola di Cinema, Comunicazione e Storytelling.<br>Oggi, nelle nostre aule, ci sono 1000 studenti. Filmano, disegnano, fotografano, scrivono, compongono, recitano, tracciano. Giocano a ping pong. Sorridono.
            <br>Insieme a loro, 150 insegnanti.<br>E hanno tutti un’aria felice.</p>
        </div>
        <div class="image-mohole">
            <img src="{{ theme.link }}/img/Schizzo_SedeVentura.jpg" alt="scuola mohole">
        </div>
    </div>
</section>