<section>
    <div>
        <div class="position">
            <video autoplay muted playsinline loop src="{{ theme.link }}/img/Finale tornei 2023.mp4">
            </video>
            <div class="button">Iscriviti qui</div>
        </div>
        <div class="menu">
            <div class="m-1"><a href="">punteggi</a></div>
            <div class="m-2 toggle-menu">
                tornei
                <div class="m-2 item"><a href="">ping pong 1vs1</a></div>
                <div class="m-2 item"><a href="">ping pong 2vs2</a></div>
                <div class="m-2 item"><a href="">biliardino 2vs2</a></div>
                <div class="m-2 item"><a href="">Iscrizioni</a></div>
                <div class="m-2 item"><a href="">edizione 22.23</a></div>
            </div>   
            <div class="m-3"><a href="">mohole</a></div>
        </div>
    </div>
</section>