<section>
    <div>
        <div class="position">
            <video autoplay muted playsinline loop src="{{ post.video }}">
            </video>

            {% if post.enable_cta_button %}
                <a href="{{ post.sign_up_link.url }}" target="{{ post.sign_up_link.target }}" class="button">{{ post.sign_up_link.title }}</a>
            {% endif %}
            

        </div>
        <div class="menu">
            <div class="m-1"><a href="#">punteggi</a></div>
            <div class="m-2">
                <a href="#tornei">tornei</a>
            </div>   
            <div class="m-3"><a href="#mohole">mohole</a></div>
        </div>
    </div>
</section>