<section>
    <div class="col-3">
        <div class="about">
            <h4>CHI È MOHOLE?</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi minus ipsum ea nobis, placeat id saepe quibusdam impedit? Quas, omnis? Corrupti officiis suscipit tempora eveniet possimus, esse hic repellendus aut.</p>
        </div>
        <div class="image-mohole">
            <img src="{{ theme.link }}/img/scuola 1.png" alt="scuola mohole">
        </div>
    </div>
</section>